/* Styles applied before app loads, which prevents flickering. */

@import url("https://fonts.loli.net/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.loli.net/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.loli.net/css2?family=Noto+Serif+SC:wght@400;700&display=swap");

:root {
    --font-color: #4b5563;
    --font-family: "EB Garamond", "Georgia", "Noto Serif SC", songti sc, serif;
    --selection-bg: #bbddfb80;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #171717;
        --font-color: #d1d5db;
        --selection-bg: #6567694f;
    }
}

/* Overlay Scrollbar Theme */
.os-theme-dark .os-scrollbar-handle {
    --os-handle-bg: rgba(0, 0, 0, 0.44);
    --os-handle-bg-hover: rgba(0, 0, 0, 0.55);
    --os-handle-bg-active: rgba(0, 0, 0, 0.66);
}

@media (prefers-color-scheme: dark) {
    .os-theme-dark .os-scrollbar-handle {
        --os-handle-bg: rgba(255, 255, 255, 0.44);
        --os-handle-bg-hover: rgba(255, 255, 255, 0.55);
        --os-handle-bg-active: rgba(255, 255, 255, 0.66);
    }
}

/* Global Fonts */
body {
    font-family: var(--font-family);
    color: var(--font-color);
}

/* Tap / Selection / Outline Effects */
* {
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background-color: var(--selection-bg);
}

body {
    outline: none;
}

/* Background Image */
body {
    background-image: radial-gradient(
            circle at 28% 29%,
            #ededed06 0%,
            #ededed06 50%,
            #88888806 50%,
            #88888806 100%
        ),
        radial-gradient(
            circle at 8% 78%,
            #9c9c9c06 0%,
            #9c9c9c06 50%,
            #25252506 50%,
            #25252506 100%
        );
    background-color: var(--background-color, none);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

/* Scrollbar Flickering Prevention */
html {
    padding-right: calc(100% - 100vw);
    overflow-x: hidden;
}

/* ScrollReveal.js Flicker Prevention */
html.sr .rv,
html.sr .note-layout #content header h1,
html.sr .note-layout #content .markdown > *,
html.sr .note-layout #left,
html.sr .note-layout .metadata > *,
html.sr .note-layout #twikoo .tk-submit .tk-row,
html.sr .note-layout #twikoo .tk-comments-container > *:not(.tk-comments-no) {
    visibility: hidden;
}

/* Partial Styles */
.indent {
    text-indent: 2.25rem;
}

.no-select {
    user-select: none;
}

/* Prevent Scrollbar Flickering */
#app {
    width: 100vw;
}

/* Animation */
@keyframes shake-x {
    0%,
    100% {
        transform: translateX(2px);
    }

    50% {
        transform: translateX(0);
    }
}
