/**
 * @todo 重构
 */

.markdown .header-anchor {
    opacity: 0;
    transition: opacity 0.15s;
}

.markdown :is(h1, h2, h3, h4, h5, h6):hover .header-anchor {
    opacity: 1;
}

.markdown {
    line-height: 1.75rem;
}

.markdown p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    text-align: justify;
}

/* Never use h1 */
/* .markdown h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
} */

.markdown h2 {
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.markdown h3 {
    font-size: 1.45rem;
    line-height: 1.75rem;
}

.markdown h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.markdown h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

.markdown h6 {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

/* .markdown h1, */
.markdown :is(h2, h3, h4, h5, h6) {
    position: relative;
    margin: 1.6rem 0;
    color: #2e2e2e;
}

.markdown .task-list-item-checkbox {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    vertical-align: baseline;
}

.markdown del {
    text-decoration-thickness: 1px;
}

.markdown a {
    position: relative;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    color: rgb(96, 165, 250);
}
/* .markdown a:not(.linkcard) {
    position: relative;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, fill, stroke,
        -webkit-text-decoration-color;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.1s;
}

.markdown a:not(.linkcard):hover,
.markdown a:not(.linkcard):hover .external {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity));
}

.markdown a:not(.linkcard) .external {
    margin-left: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, fill, stroke,
        -webkit-text-decoration-color;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.1s;
} */

.markdown .inline-fas {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.markdown ol,
.markdown ul:not(.contains-task-list) {
    list-style-position: inside;
    padding-left: 2rem;
}

.markdown ul:not(.contains-task-list) {
    list-style: circle;
}

.markdown ol {
    list-style: decimal;
}

.markdown li::marker {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.markdown img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
}

.markdown img + .caption {
    position: relative;
    margin-top: 0.25rem;
    display: block;
    width: 100%;
    text-align: center;
}

.markdown img + .caption span {
    position: relative;
    margin-bottom: 1.25rem;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.markdown img + .caption span:after {
    position: absolute;
    display: inline-block;
    border-top-width: 1px;
    border-style: dashed;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    content: "";
    bottom: -2px;
    left: -0.1rem;
    right: -0.1rem;
}

.markdown code:not(.hljs) {
    border-radius: 0.25rem;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.5;
    padding: 0.25rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    margin: 0 0.125rem;
}

.markdown blockquote {
    margin-bottom: 1rem;
    border-left-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.25rem;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    --tw-text-opacity: 0.9;
}

.markdown > blockquote {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-right: 1.25rem;
}

.markdown hr {
    margin: 4.5rem 10rem;
    height: 1px;
    background-color: #e3e3e3;
}

.markdown .hljs {
    position: relative;
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.markdown .hljs.hljs::-moz-selection,
.markdown .hljs::-moz-selection {
    background-color: rgba(187, 221, 251, 0.5);
    color: unset;
}

.markdown .hljs.hljs::selection,
.markdown .hljs::selection {
    background-color: rgba(187, 221, 251, 0.5);
    color: unset;
}
