/**
 * @todo 完善标点挤压（写 js 脚本，临时用 font-feature-settings: "halt" 解决）
 */

:root {
    --theme-color: #60a5fa;
    --block-extend: -0.5rem;
    --monospace: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono",
        monospace;
}

/* 基础样式 */
.markdown {
    line-height: 1.8rem;
    /* font-feature-settings: "halt"; */
}

/* 段落 */
.markdown p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    text-align: justify;
}

/* KaTeX 数学公式 */
.markdown .katex {
    font-size: 1.1em;
}

.markdown .katex-display {
    margin: 1.8em 0;
}

.markdown .katex-display .katex {
    font-size: 1.21rem;
}

/* 锚点 */
.markdown .header-anchor {
    opacity: 0;
    font-family: "Georgia", "Times New Roman", serif;
    color: var(--theme-color);
    transition: opacity 0.15s, color 0.15s;
    user-select: none;
    padding: 0 7px;
    margin: 0;
}

.markdown .header-anchor:hover {
    color: #0e78fa;
}

.markdown .heading:hover .header-anchor {
    opacity: 1;
}

/* header 标签（h1 被 ban 掉了） */
/* .markdown h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
} */

.markdown h2 {
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.markdown h3 {
    font-size: 1.45rem;
    line-height: 1.75rem;
}

.markdown h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.markdown h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

.markdown h6 {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.markdown .heading {
    position: relative;
    margin: 1.6rem 0;
    color: #2e2e2e;
    scroll-margin-top: 4rem;
}

/* hr 标签 */
.markdown hr {
    margin: 4.5rem auto;
    width: 21rem;
    height: 1px;
    background-color: #e3e3e3;
}

/* s 标签 */
/* .markdown s {} */

/* strong 标签 */
.markdown strong {
    font-weight: bold;
}

/* em 标签 */
.markdown em {
    font-style: italic;
}

/* 列表 */
.markdown ul {
    list-style: disc;
}

.markdown ol {
    list-style: decimal;
}

.markdown :is(ul, ol) {
    margin-left: 20px;
}

.markdown :is(ul, ol) li {
    text-indent: 10px;
}

.markdown :is(ul, ol) li::marker {
    color: #7c8087;
}

/* checkbox */
/* @see https://getcssscan.com/css-checkboxes-examples */
/* @see https://github.com/linsir/markdown-it-task-checkbox */
.markdown .task-list {
    list-style: none;
    margin-left: unset;
}

.markdown .task-list li {
    text-indent: unset;
}

.markdown .checkbox *,
.markdown .checkbox ::after,
.markdown .checkbox ::before {
    box-sizing: border-box;
}

.markdown .checkbox input[type="checkbox"] {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    appearance: none;
}

.markdown .checkbox input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    vertical-align: sub;
    height: 1em;
    width: 1em;
    margin-right: 0.6em;
    margin-bottom: 1.5px;
    color: #00000046;
    border: 0.06em solid;
    border-radius: 0.2em;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>')
            no-repeat center,
        white;
    background-size: 0;
}

.markdown .checkbox input[type="checkbox"]:checked + label:before {
    background-color: #56a0ef;
    background-size: 0.75em;
    color: #00000013;
}

/* 引言 */
.markdown blockquote {
    margin: 1.5rem 0;
    padding: 0.5rem 1rem;
    border-left: 4px solid #e6e7e8;
    background-color: #f2f2f2b5;
    color: #4b5563;
    border-radius: 0 4px 4px 0;
}

.markdown > blockquote {
    margin-left: var(--block-extend);
    margin-right: var(--block-extend);
}

/* 行内代码块 */
.markdown :not(pre) > code {
    font-family: monospace;
    background: #edeeeebf;
    padding: 0.2em 0.3em;
    border-radius: 0.3em;
    white-space: normal;
    font-size: 1.05em;
    line-height: 1em;
}

.markdown :not(pre) > code ::selection {
    background-color: var(--selection-bg);
}

/* 行间代码块 */
.markdown pre {
    background: hsl(230, 1%, 98%);
    border: 1px solid #ededed;
    scrollbar-width: none;
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
    color: hsl(230, 8%, 24%);
    font-family: var(--monospace);
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 2;
}

.markdown pre code {
    background: unset;
    font-size: 0.97em;
}

.markdown pre ::selection {
    background-color: var(--selection-bg);
}
